.intgrtn-form-signup .reg-form__error{
    font-size: 13px !important;
    position: relative !important;
    margin-top: 4px !important;
    margin-left: 10px !important;
    color: #ff4949 !important;
    height: 6px;
}
.intgrtn-form-signup .reg-form__input{
    color: #000000 !important;
    font-size: 18.5px !important;
}
input.reg-form__input.error{
    border: 1px solid #ff4949 !important;
}
.reg-form__input::placeholder {
    color: #00000091; /* Задаем нужный цвет */
    font-size: 16px

}
.reg-form__button_submit{
    margin-top: 30px;
}
#custom-regbox input:focus{
    border: 1px solid #ececec;
}
.reg-form__preloader-wrap {
    z-index: 50;
}